@using Confaque.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<!DOCTYPE html>
@inject SignInManager<ConfaqueUser> SignInManager
@inject UserManager<ConfaqueUser> UserManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/images/ConfAqueSmall.png" style="max-width:100%" />
            </div>
            <div class="col-md-9 titlecol">
                <span class="title">@ViewBag.Title</span>
            </div>
            <div class="col-md-2">
                @if (SignInManager.IsSignedIn(this.User))
                {
                    <span>@UserManager.GetUserName(this.User)</span>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="LogOff">Log Off</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Account" asp-action="LogOff">Register</a>
                }

            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
